[package]
name = "risczero-benchmark"
version = "0.1.0"
edition = "2021"

[dependencies]
clap = { version = "4.0", features = ["derive"] }
rand = "0.8"
risczero-benchmark-methods = { path = "methods" }
rustbench = { path = "../rustbench" }
serde = "1.0"
sha2 = "0.10"

[dependencies.risc0-build]
version = "1.0.0-rc.2"
git = "https://github.com/risc0/risc0.git"

[dependencies.risc0-zkvm]
version = "1.0.0-rc.2"
git = "https://github.com/risc0/risc0.git"
default-features = false

[dependencies.risc0-zkp]
version = "1.0.0-rc.2"
git = "https://github.com/risc0/risc0.git"
default-features = false

[features]
cuda = ["risc0-zkvm/cuda"]
metal = ["risc0-zkvm/metal"]
